.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/extras/endless/build
/extras/photo-library/build
/extras/ptr-lib/build
/extras/PullToRefreshLibrary/build
/extras/SwipeBackLibrary/build
