<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.qingfengmy">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:name=".ui.app.KitDemoApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".ui.TabHostActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.FlowLayoutActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.AnimatorActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.GuaGuakaActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.CutPicActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.SingleSelecterActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.MultipeSelectActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.ViewPagerMultiActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.SlidingMenuActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.CreateCodeActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.MipcaActivityCapture"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.PictureActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.RefreshListViewActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.SwipeRefreshActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.DetailActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.PageTransformerActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.ViewPagerIndicatorActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.BackgroundPagerActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.VolleyActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.StickyHeaderActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.RecyclerActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.CardViewActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.GifActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.PaletteActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.TransitionActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.TransitionExplodeActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.TransitionDemoActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.ElevationDragActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.ClippingActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.TintingsActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.SvgActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.StateListAnimatorActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.game.NewPuzzleActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.TreeActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.BrokenLineActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.HideOnScrollActivity"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".ui.WeiXinActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.PhotoActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.ProgressBarActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.DumpActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.FrescoActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.NotifycationActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.DateTimePickerActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.LaunchModeActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.SingleTopActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.SingleTasksActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.SingleInstanceActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.MultiThreadDownloadActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.CommonAdapterActivity"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".ui.game.HowOldActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.ZoomImageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.ImageColorActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.ColorMatrixActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.PixelsEffectActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.PrimaryColorActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.ImageMatirxActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.MeshViewTestActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.ReflectViewTestActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.BitmapShaderTestActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.RoundRectXfermodTestActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.ImageMatrixTestActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.MoreTextViewActivity"
            android:screenOrientation="portrait" />

        <service android:name=".ui.service.DownloadService" />

        <meta-data
            android:name="AA_DB_NAME"
            android:value="kits.db" />
        <meta-data
            android:name="AA_DB_VERSION"
            android:value="1" />

    </application>

</manifest>
